# **Topic 2 Exercise:**

1. Get school.sql from Moodle and import it into MySQL.
2. What is the maximum length of data that can be inserted into the Name attribute of the
subject table?
3. What is the Primary Key of the teacher table?
4. What is the Primary Key of the subject table?
5. Show all data contained in the subject table.
6. Show all names of all subjects that are on the leaving cert.
7. Show all name and experience of all teachers who are qualified to teach to Leaving Cert.
8. Show all details of all subjects who are taught by teachers whose title is not “Mr.”
9. Show all details of all teachers who were born in January, February or March, and who can
teach as far as Junior Cert only.
10. Show all unique month names that teachers were born in.
11. Show all details of all teachers, sorted by first by experience, then level.
12. Show all details of all subjects whose 3rd or 4th letter is “l”. Sort them by name.
13. Show the name of all teachers who have 10, 15, 20, 25, 30, 35, 40, 45, 50, 55 or 60 years
experience. Sort from youngest to oldest.